  <div>
    <split direction="horizontal" height="400">
      <split-area [size]="25">
        <div class="card-block">
            <table class="table table-bordered table-striped">
            <thead class="thead-default">
                <tr>
                <th>Company Name</th>
                </tr>
            </thead>
            <tbody *ngIf="company.length === 0">
                <tr>
                <td>There are no company in the DB. Add a new company below.</td>
                </tr>  
            </tbody>
            <tbody>
                <tr *ngFor="let comp of company">
                <td>
                    <a href="javascript:void(0);" [ngClass]="active" 
                    (click)="enableEditing(comp)">{{comp.CompanyName}}</a>
                    <button class="btn btn-sm btn-danger" (click)="deleteCompany(comp)"><i class="fa fa-trash"></i></button>
                </td>
                </tr>  
            </tbody>
            </table>
        </div>
      </split-area>
      <split-area [size]="75">

        <form [formGroup]="parentForm"
            (ngSubmit)="onSubmit()">

            <div fxLayout="row" fxLayoutAlign="start center" class="content">
                <div class="blocks" fxFlex = "40%">      
                    <md-input-container class="example-full-width">
                    <input mdInput placeholder="Company Name" formControlName="CompanyName" [(ngModel)]="usercompany.CompanyName">
                    </md-input-container>
                </div>
                <div class="blocks" fxFlex = "40%">
                    <md-input-container class="example-full-width">
                    <input mdInput placeholder="Industry" formControlName="Industry" [(ngModel)]="usercompany.Industry">
                    </md-input-container>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" class="content">
                <div class="blocks" fxFlex = "33%">      
                    <md-input-container class="example-full-width">
                    <input mdInput placeholder="Office Address 1" formControlName="Address1" [(ngModel)]="usercompany.Address1">
                    </md-input-container>
                </div>
                <div class="blocks" fxFlex = "33%">
                    <md-input-container class="example-full-width">
                    <input mdInput placeholder="Office Address 2" formControlName="Address2" [(ngModel)]="usercompany.Address2">
                    </md-input-container>
                </div>
                <div class="blocks" fxFlex>
                    <md-input-container class="example-full-width">
                    <input mdInput placeholder="City" formControlName="City" [(ngModel)]="usercompany.City">
                    </md-input-container>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" class="content">
                <div class="blocks" fxFlex = "33%">      
                    <md-input-container class="example-full-width">
                    <input mdInput placeholder="State" formControlName="State" [(ngModel)]="usercompany.State">
                    </md-input-container>
                </div>
                <div class="blocks" fxFlex = "33%">
                    <md-input-container class="example-full-width">
                    <input mdInput placeholder="Zip" formControlName="ZIPCode" [(ngModel)]="usercompany.ZIPCode">
                    </md-input-container>
                </div>
                <div class="blocks" fxFlex>
                    <md-input-container class="example-full-width">
                    <input mdInput placeholder="Country" formControlName="Country" [(ngModel)]="usercompany.Country">
                    </md-input-container>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" class="content">
                <div class="blocks" fxFlex = "25%">      
                    <md-input-container class="example-full-width">
                    <input mdInput placeholder="Tax Identification Number(TIN)" formControlName="TIN" [(ngModel)]="usercompany.TIN">
                    </md-input-container>
                </div>
                <div class="blocks" fxFlex = "25%">
                    <md-input-container class="example-full-width">
                    <input mdInput placeholder="SSS Number" formControlName="SSS" [(ngModel)]="usercompany.SSS">
                    </md-input-container>
                </div>
                <div class="blocks" fxFlex = "25%">
                    <md-input-container class="example-full-width">
                    <input mdInput placeholder="Philhealth Number" formControlName="PhilHealth" [(ngModel)]="usercompany.PhilHealth">
                    </md-input-container>
                </div>
                <div class="blocks" fxFlex>
                    <md-input-container class="example-full-width">
                    <input mdInput placeholder="HDMF Number	(Pagibig)" formControlName="Pagibig" [(ngModel)]="usercompany.Pagibig">
                    </md-input-container>
                </div>
            </div>        

            <!-- [CodeTable/children]="companyData.CodeTable" -->
            <div class="card">
                <div class="card-header" role="tab" id="headerctLoan">
                <h6 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#ctLoan" 
                    aria-expanded="false" aria-controls="ctLoan">Loans</a>
                </h6>
                </div>
                <div id="ctLoan" class="collapse" role="tabpanel" aria-labelledby="headerctLoan">
                    <app-child-list
                        [parentForm]="parentForm"
                        [children]="companyData.CodeTable">
                    </app-child-list>
                </div>
            </div>

            <!-- [CodeTable/children]="companyData.Income" -->            
            <div class="card">
                <div class="card-header" role="tab" id="headerctIncome">
                <h6 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#ctIncome" 
                    aria-expanded="false" aria-controls="ctIncome">Income</a>
                </h6>
                </div>
                <div id="ctIncome" class="collapse" role="tabpanel" aria-labelledby="headerctIncome">
                    <app-child-list
                        [parentForm]="parentForm"
                        [children]="companyData.Income">
                    </app-child-list>
                </div>
            </div>

            <!-- [CodeTable/children]="companyData.Attendance" -->           
            <div class="card">
                <div class="card-header" role="tab" id="headerctAttendance">
                <h6 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#ctAttendance" 
                    aria-expanded="false" aria-controls="ctAttendance">Attendance</a>
                </h6>
                </div>
                <div id="ctAttendance" class="collapse" role="tabpanel" aria-labelledby="headerctAttendance">
                    <app-child-list
                        [parentForm]="parentForm"
                        [children]="companyData.Attendance">
                    </app-child-list>
                </div>
            </div>
            <!-- [CodeTable/children]="companyData.Overtime" -->           
            <div class="card">
                <div class="card-header" role="tab" id="headerctOvertime">
                <h6 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#ctOvertime" 
                    aria-expanded="false" aria-controls="ctOvertime">Overtime</a>
                </h6>
                </div>
                <div id="ctOvertime" class="collapse" role="tabpanel" aria-labelledby="headerctOvertime">
                    <app-child-list
                        [parentForm]="parentForm"
                        [children]="companyData.Overtime">
                    </app-child-list>
                </div>
            </div>
            <!-- [CodeTable/children]="companyData.Position" -->           
            <div class="card">
                <div class="card-header" role="tab" id="headerctPosition">
                <h6 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#ctPosition" 
                    aria-expanded="false" aria-controls="ctPosition">Position</a>
                </h6>
                </div>
                <div id="ctPosition" class="collapse" role="tabpanel" aria-labelledby="headerctPosition">
                    <app-child-list
                        [parentForm]="parentForm"
                        [children]="companyData.Position">
                    </app-child-list>
                </div>
            </div>
            <!-- [CodeTable/children]="companyData.CostCenter" -->           
            <div class="card">
                <div class="card-header" role="tab" id="headerctCostCenter">
                <h6 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#ctCostCenter" 
                    aria-expanded="false" aria-controls="ctCostCenter">Cost Center</a>
                </h6>
                </div>
                <div id="ctCostCenter" class="collapse" role="tabpanel" aria-labelledby="headerctCostCenter">
                    <app-child-list
                        [parentForm]="parentForm"
                        [children]="companyData.CostCenter">
                    </app-child-list>
                </div>
            </div>
            <!-- [CodeTable/children]="companyData.Department" -->           
            <div class="card">
                <div class="card-header" role="tab" id="headerctDepartment">
                <h6 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#ctDepartment" 
                    aria-expanded="false" aria-controls="ctDepartment">Department</a>
                </h6>
                </div>
                <div id="ctDepartment" class="collapse" role="tabpanel" aria-labelledby="headerctDepartment">
                    <app-child-list
                        [parentForm]="parentForm"
                        [children]="companyData.Department">
                    </app-child-list>
                </div>
            </div>

            <button type="submit" [disabled]="!parentForm.valid">
                Submit
            </button>

        </form>
        
      </split-area>
  </split>
  </div>

<!-- <div class="parent-form-state">
    <p>Current parentForm State:</p>
    <pre>{{ companyData | json }}</pre>
</div> -->
