<div class="child-form" [formGroup]="childForm">
    
    <div fxLayout="row" fxLayoutAlign="start center" class="content">
        <div class="blocks" fxFlex = "25%">      
        <md-input-container class="example-full-width">
            <input mdInput placeholder="Code" formControlName="Code" [(ngModel)]="child.Code">
        </md-input-container>
        </div> 
        <div class="blocks" fxFlex = "25%">      
        <md-input-container class="example-full-width">
            <input mdInput placeholder="Description" formControlName="Description" [(ngModel)]="child.Description">
        </md-input-container>
        </div>
        <div class="blocks" fxFlex = "25%">
        <md-input-container class="example-full-width">
            <input mdInput placeholder="Category" formControlName="Category" [(ngModel)]="child.Category">
        </md-input-container>
        </div>
        <div class="blocks" fxFlex = "25%">
        <md-input-container class="example-full-width">
            <input mdInput placeholder="Rate" formControlName="Rate" [(ngModel)]="child.Rate">
        </md-input-container>
        </div>
    </div>

</div>
