<app-toast [message]="toast.message"></app-toast>

<div class="card"> 
    <h4 class="card-header">Payslip</h4> 
    <div class="card-block">
        <form [formGroup]="payslipForm" (ngSubmit)="onSubmit()">
            <div fxLayout="row" fxLayoutAlign="start center" class="content"> 
                <div class="blocks" fxFlex = "25%">
                    
                <!-- <button class="btn btn-sm btn-left" (click)=""> <i class="fa fa-angle-left"></i> </button> -->
                <md-input-container class="example-full-width"> 
                    <input mdInput placeholder="Basic" formControlName="Basic" [(ngModel)]="payslipData.IncomeTaxable.Basic"> 
                </md-input-container> 
                </div>  
                <div class="blocks" fxFlex = "25%">       
                <md-input-container class="example-full-width"> 
                    <input mdInput placeholder="SSS" formControlName="SSS" [(ngModel)]="payslipData.LessPreTax.SSS"> 
                </md-input-container> 
                </div> 
                <div class="blocks" fxFlex = "25%"> 
                <md-input-container class="example-full-width"> 
                    <input mdInput placeholder="GrossTaxable" formControlName="GrossTaxable" [(ngModel)]="payslipData.TaxComp.GrossTaxable"> 
                </md-input-container> 
                </div> 
                <div class="blocks" fxFlex = "25%"> 
                <md-input-container class="example-full-width"> 
                    <input mdInput placeholder="Loan" formControlName="Loan" [(ngModel)]="payslipData.LessPostTax.Loan"> 
                </md-input-container> 
                </div> 
            </div>            
            <div fxLayout="row" fxLayoutAlign="start center" class="content"> 
                <div class="blocks" fxFlex = "25%">       
                <md-input-container class="example-full-width"> 
                    <input mdInput placeholder="Overtime" formControlName="Overtime" [(ngModel)]="payslipData.IncomeTaxable.Overtime"> 
                </md-input-container> 
                </div>  
                <div class="blocks" fxFlex = "25%">       
                <md-input-container class="example-full-width"> 
                    <input mdInput placeholder="Philhealth" formControlName="Philhealth" [(ngModel)]="payslipData.LessPreTax.Philhealth"> 
                </md-input-container> 
                </div> 
                <div class="blocks" fxFlex = "25%"> 
                <md-input-container class="example-full-width"> 
                    <input mdInput placeholder="WHTax" formControlName="WHTax" [(ngModel)]="payslipData.TaxComp.WHTax"> 
                </md-input-container> 
                </div> 
                <div class="blocks" fxFlex = "25%"> 
                <md-input-container class="example-full-width"> 
                    <input mdInput placeholder="Deduction" formControlName="Deduction" [(ngModel)]="payslipData.LessPostTax.Deduction"> 
                </md-input-container> 
                </div> 
            </div>            
            <div fxLayout="row" fxLayoutAlign="start center" class="content"> 
                <div class="blocks" fxFlex = "25%">       
                <md-input-container class="example-full-width"> 
                    <input mdInput placeholder="Bonus" formControlName="Bonus" [(ngModel)]="payslipData.IncomeTaxable.Bonus"> 
                </md-input-container> 
                </div>  
                <div class="blocks" fxFlex = "25%">       
                <md-input-container class="example-full-width"> 
                    <input mdInput placeholder="Pagibig" formControlName="Pagibig" [(ngModel)]="payslipData.LessPreTax.Pagibig"> 
                </md-input-container> 
                </div> 
                <div class="blocks" fxFlex = "25%"> 
                <md-input-container class="example-full-width"> 
                    <input mdInput placeholder="GrossTaxed" formControlName="GrossTaxed" [(ngModel)]="payslipData.TaxComp.GrossTaxed"> 
                </md-input-container> 
                </div> 
                <div class="blocks" fxFlex = "25%"> 
                <md-input-container class="example-full-width"> 
                    <input mdInput placeholder="BonusNonTax" formControlName="BonusNonTax" [(ngModel)]="payslipData.IncomeNonTaxable.BonusNonTax"> 
                </md-input-container> 
                </div> 
            </div> 
            <div fxLayout="row" fxLayoutAlign="start center" class="content"> 
                <div class="blocks" fxFlex = "75%">       
                <md-input-container class="example-full-width"> 
                    <input mdInput placeholder="OtherTaxable" formControlName="OtherTaxable" [(ngModel)]="payslipData.IncomeTaxable.OtherTaxable">  
                </md-input-container> 
                </div> 
                <div class="blocks" fxFlex = "25%"> 
                <md-input-container class="example-full-width"> 
                    <input mdInput placeholder="NetPay" formControlName="NetPay" [(ngModel)]="payslipData.NetPay">  
                </md-input-container> 
                </div> 
            </div>            
        </form> 
    </div>


    <div>
        <div *ngFor="let comp of sometest">
            {{comp.employeeId}}
            {{comp.payslip[0]}}
            
            <div *ngFor="let cd of comp.payslip">
                    {{cd.PayslipDate}} | {{cd.ModifiedBy}}
            </div>
        </div>  
    </div>
</div>
