<div class="child-list"
     [formGroup]="parentForm"> 

    <div formArrayName="children">      
        <div *ngFor="let child of children; let idx=index ">
            
        <div fxLayout="row" fxLayoutAlign="start center" class="content">
            <div class="blocks" fxFlex = "90%">
                <app-child-form
                    [children]="parentForm.controls.children"
                    [child]="child">
                </app-child-form>  
            </div>
            <div class="blocks" fxFlex = "10%">
                <button class="btn btn-sm btn-danger" (click)="addChild()"><i class="fa fa-plus"></i></button>
                <button class="btn btn-sm btn-danger" (click)="removeChild(idx)"><i class="fa fa-trash"></i></button>      
            </div>
        </div> 

        </div>

        <!-- <div *ngIf="children.length==0">
            <button class="btn btn-sm btn-danger" (click)="addChild()"><i class="fa fa-plus"></i></button>
        </div>  -->

    </div>

</div> 
<!-- 
<div>
    <p>Current CodeTable State:</p>
    <pre>{{ CodeTable | json }}</pre>
</div>
 -->