<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Outlook-type editor</h4>
  <div>
    <split direction="horizontal" height="400">
      <split-area [size]="25">
         <div class="list-group">
          <a *ngFor="let cat of cats" 
              href="javascript:void(0);" 
              class="list-group-item"
              [ngClass]="active"
              (click)="enableEditing(this, cat)">{{cat.name}}</a>
        </div>
        <div style="padding-top: 20px;">
          Dropdown Listbox
          <select [(ngModel)]="demo.gender" class="form-control">
            <option *ngFor="let g of genders" [ngValue]="g.code">{{g.description}}</option>
          </select>
          <md-select placeholder="Favorite food" [(ngModel)]="selectedValue" name="food">
            <md-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </md-option>
          </md-select>
        </div> 
        <div style="padding-top: 20px;">
          Date Picker
          <md-input-container>
            <input mdInput [mdDatepicker]="picker" placeholder="Choose date">
            <button mdSuffix [mdDatepickerToggle]="picker"></button> 
          </md-input-container>
          <md-datepicker #picker></md-datepicker>
        </div>
      </split-area>
      <split-area [size]="75">
        <form class="form" #form="ngForm" (ngSubmit)="editCat(cat)" style="display:inline">
          <div class="input-group">
            <span class="input-group-addon" id="addon-name">Name: </span>
            <input type="text" class="form-control" aria-describedby="addon-name" name="name" [(ngModel)]="cat.name" placeholder="Name" required>
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="addon-age">Age: </span>
            <input type="text" class="form-control" aria-describedby="addon-age" name="age" [(ngModel)]="cat.age" placeholder="Age" required>
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="addon-weight">Weight: </span>
            <input type="text" class="form-control" aria-describedby="addon-weight" name="weight" [(ngModel)]="cat.weight" placeholder="Weight" required>
          </div>
          <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
        </form>
      </split-area>
  </split>
  </div>
</div>