<!-- <app-loading [condition]="isLoading"></app-loading>

 <app-toast [message]="toast.message"></app-toast>  -->


<div class="card" *ngIf="!isLoading">  
  <h4 class="card-header">Employee ({{employees.length}})
    <button class="btn btn-sm btn-primary" type="submit" (click)="clear()"><i class="fa fa-floppy-o"></i> New</button>
    <button class="btn btn-sm btn-success" type="submit" (click)="save(empl)"><i class="fa fa-floppy-o"></i> Save</button>
    <!-- <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>   -->
  </h4>
  <div>
    <split direction="horizontal" height="650">
      <split-area [size]="30">
        <table class="table table-bordered table-condensed table-hover table-sm">
            <thead class="thead-default">
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody *ngIf="employees.length === 0">
                <tr>
                    <td colspan="10">There are no employees to display. Add a new employee below.</td>
                </tr>  
            </tbody>
            <tbody>
                <tr *ngFor="let empl of employees">
                    <td>
                        <a href="javascript:void(0);" (click)="enableEditing(this, empl)">{{empl.firstName}} {{empl.lastName}}</a>
                        <button class="btn btn-sm btn-info" (click)="openPayslip(empl)"><i class="fa fa-money"></i></button>
                        <!-- payslip/salary -->
                        <button class="btn btn-sm btn-danger" (click)="openLoan(empl)"><i class="fa fa-handshake-o"></i></button>  
                        <!-- employee loan detail -->
                    </td>
                </tr>  
            </tbody>
        </table>  
      </split-area>
      <split-area [size]="70">          
        <form class="form-horizontal" name="frmEmployee" id="frmEmployee">
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card">
                    <div class="card-header" role="tab" id="headingOne">
                    <h6 class="mb-0">
                        <a data-toggle="collapse" data-parent="#accordion" href="#personalInfo" aria-expanded="true" aria-controls="headingOne">
                        Personal Info
                        </a>
                    </h6>
                    </div>
                    <div id="personalInfo" class="collapse-show" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-block">
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Suffix </span>
                                <select class="form-control" [(ngModel)]="empl.suffix" name="cmbSuffix">
                                    <option *ngFor="let s of suffixes" [ngValue]="s.code">{{s.description}}</option>
                                </select>
                            </div>  
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Last Name<strong style="color:red"> *</strong></span>
                                <input type="text" class="form-control" aria-describedby="addon-name" name="txtLastName" [(ngModel)]="empl.lastName" placeholder="Last Name" data-ng-maxlength="50" required/>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">First Name<strong style="color:red"> *</strong></span>
                                <input type="text" class="form-control" aria-describedby="addon-name" name="txtFirstName" [(ngModel)]="empl.firstName" placeholder="First Name" data-ng-maxlength="50" required/>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Middle Name<strong style="color:red"> *</strong></span>
                                <input type="text" class="form-control" aria-describedby="addon-name" name="txtMiddleName" [(ngModel)]="empl.middleName" placeholder="Last Name" data-ng-maxlength="50" required/>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Date of Birth<strong style="color:red"> *</strong></span>
                                <input type="text" id="dteBirthDate" name="dteBirthDate" class="form-control form-filter" required readonly="readonly" />
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingTwo">
                        <h6 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#addressDetails" aria-expanded="false" aria-controls="addressDetails">
                            Address Details
                            </a>
                        </h6>
                    </div>
                    <div id="addressDetails" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="card-block">
                            <div class="input-group"> 
                                <span class="input-group-addon" id="addon-name">Address Line 1</span> 
                                <input type="text" class="form-control" aria-describedby="addon-name" name="txtAddressLine1" [(ngModel)]="empl.addressLine1" placeholder="Address Line 1" data-ng-maxlength="50" required/> 
                            </div> 
                            <div class="input-group"> 
                                <span class="input-group-addon" id="addon-name">Address Line 2</span> 
                                <input type="text" class="form-control" aria-describedby="addon-name" name="txtAddressLine2" [(ngModel)]="empl.addressLine2" placeholder="Address Line 2" data-ng-maxlength="50" required/> 
                            </div> 
                            <div class="input-group"> 
                                <span class="input-group-addon" id="addon-name">City</span> 
                                <input type="text" class="form-control" aria-describedby="addon-name" name="txtCity" [(ngModel)]="empl.city" placeholder="City" data-ng-maxlength="50" required/> 
                            </div> 
                            <div class="input-group"> 
                                <span class="input-group-addon" id="addon-name">State</span> 
                                <input type="text" class="form-control" aria-describedby="addon-name" name="txtState" [(ngModel)]="empl.state" placeholder="State" data-ng-maxlength="50" required/> 
                            </div> 
                            <div class="input-group"> 
                                <span class="input-group-addon" id="addon-name">Zip</span> 
                                <input type="text" class="form-control" aria-describedby="addon-name" name="txtZip" [(ngModel)]="empl.zip" placeholder="Zip" data-ng-maxlength="50" required/> 
                            </div> 
                            <div class="input-group"> 
                                <span class="input-group-addon" id="addon-name">Country</span> 
                                <input type="text" class="form-control" aria-describedby="addon-name" name="txtCountry" [(ngModel)]="empl.country" placeholder="Country" data-ng-maxlength="50" required/> 
                            </div>
                        </div>
                    </div>                    
                </div>                
                <div class="card">
                    <div class="card-header" role="tab" id="headingThree">
                        <h6 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#otherDetails" aria-expanded="false" aria-controls="otherDetails">
                            Other Details (Tentative)
                            </a>
                        </h6>
                    </div>
                    <div id="otherDetails" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="card-block">
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Home Phone</span>
                                <input type="text" class="form-control" aria-describedby="addon-name" name="txtHomePhone" [(ngModel)]="empl.homePhone" placeholder="Home Phone" data-ng-maxlength="50" ng-pattern="/^[0-9]+$/" />
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Mobile Phone</span>
                                <input type="text" class="form-control" aria-describedby="addon-name" name="txtMobilePhone" [(ngModel)]="empl.mobilePhone" placeholder="Mobile Phone" data-ng-maxlength="50" ng-pattern="/^[0-9]+$/" />
                            </div>        
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Work Phone</span>
                                <input type="text" class="form-control" aria-describedby="addon-name" name="txtWorkPhone" [(ngModel)]="empl.workPhone" placeholder="Work Phone" data-ng-maxlength="50" ng-pattern="/^[0-9]+$/" />
                            </div>     
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Email Address</span>
                                <input type="text" class="form-control" aria-describedby="addon-name" name="txtEmail" [(ngModel)]="empl.email" placeholder="E-mail" data-ng-maxlength="50" />
                            </div> 
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">SSS</span>
                                <input type="text" class="form-control" aria-describedby="addon-name" name="txtSSS" [(ngModel)]="empl.sss" placeholder="SSS" data-ng-maxlength="50" ng-pattern="/^[0-9]+$/" />
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">TIN</span>
                                <input type="text" class="form-control" aria-describedby="addon-name" name="txtTin" [(ngModel)]="empl.tin" placeholder="TIN" data-ng-maxlength="50" ng-pattern="/^[0-9]+$/" />
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Gender</span>
                                <select class="form-control" [(ngModel)]="empl.gender" name="cmbGender" aria-placeholder="Gender">
                                    <option *ngFor="let g of genders" [ngValue]="g.code">{{g.description}}</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Marital Status</span>
                                <select class="form-control" [(ngModel)]="empl.maritalStatus" name="cmbMaritalStatus">
                                    <option *ngFor="let m of maritalStatuses" [ngValue]="m.code">{{m.description}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" ng-hide="true" data-ng-hide="true">
                    <div class="card-header" role="tab" id="headingFour">
                    <h6 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#spouseDetails" aria-expanded="false" aria-controls="spouseDetails">
                        Spouse Details
                        </a>
                    </h6>
                    </div>
                    <div id="spouseDetails" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="card-block">
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Suffix </span>
                                <select class="form-control" [(ngModel)]="empl.spouseSuffix" name="cmbSpouseSuffix">
                                    <option *ngFor="let s of suffixes" [ngValue]="s.code">{{s.description}}</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Last Name</span>
                                <input type="text" class="form-control" aria-describedby="addon-name" name="txtSpouseLastName" [(ngModel)]="empl.spouseLastName" placeholder="Last Name" data-ng-maxlength="50" required/>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">First Name</span>
                                <input type="text" class="form-control" aria-describedby="addon-name" name="txtSpouseFirstName" [(ngModel)]="empl.spouseFirstName" placeholder="First Name" data-ng-maxlength="50" required/>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Middle Name</span>
                                <input type="text" class="form-control" aria-describedby="addon-name" name="txtSpouseMiddleName" [(ngModel)]="empl.spouseMiddleName" placeholder="Middle Name" data-ng-maxlength="50" required/>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Employer</span>
                                <input type="text" class="form-control" aria-describedby="addon-name" name="txtSpouseEmployer" [(ngModel)]="empl.spouseEmployer" placeholder="Employer" data-ng-maxlength="50" required/>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Work Phone</span>
                                <input type="text" class="form-control" aria-describedby="addon-name" name="txtSpouseWorkPhone" [(ngModel)]="empl.spouseWorkPhone" placeholder="Work Phone" data-ng-maxlength="50" required/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingFive">
                    <h6 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#employmentDetails" aria-expanded="false" aria-controls="employmentDetails">
                        Employment Details
                        </a>
                    </h6>
                    </div>
                    <div id="employmentDetails" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                        <div class="card-block">
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Employee #</span>
                                <input type="text" class="form-control" aria-describedby="addon-name" name="txtEmployeeNo" [(ngModel)]="empl.employeeNo" placeholder="Employee #" data-ng-maxlength="50" required/>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Title</span>
                                <input type="text" class="form-control" aria-describedby="addon-name" name="txtTitle" [(ngModel)]="empl.title" placeholder="Title" data-ng-maxlength="50" required/>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Department</span>
                                <select class="form-control" [(ngModel)]="empl.department" name="cmbDepartment">
                                    <option *ngFor="let d of departments" [ngValue]="d.code">{{d.description}}</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Office</span>
                                <input type="text" class="form-control" aria-describedby="addon-name" name="txtOffice" [(ngModel)]="empl.office" placeholder="Office" data-ng-maxlength="50" required/>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Manager</span>
                                <input type="text" class="form-control" aria-describedby="addon-name" name="txtManager" [(ngModel)]="empl.manager" placeholder="Manager" data-ng-maxlength="50" required/>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Start Date</span>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">End Date</span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-header" role="tab" id="headingSix">
                        <h6 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#compensation" aria-expanded="false" aria-controls="compensation">
                            Tax Info / Salary
                            </a>
                        </h6>
                    </div>
                    <div id="compensation" class="collapse" role="tabpanel" aria-labelledby="headingSix">
                        <div class="card-block">
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Tax Status</span>
                                <select class="form-control" [(ngModel)]="empl.taxStatus" name="cmbTaxStatus">
                                    <option *ngFor="let t of taxStatuses" [ngValue]="t.code">{{t.description}}</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Cost Center</span>
                                <select class="form-control" [(ngModel)]="empl.costCenter" name="cmbCostCenter">
                                    <option *ngFor="let c of costCenters" [ngValue]="c.code">{{c.description}}</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Tax Type</span>
                                <select class="form-control" [(ngModel)]="empl.taxType" name="cmbTaxType">
                                    <option *ngFor="let t of taxTypes" [ngValue]="t.code">{{t.description}}</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Monthly Salary</span>
                                <input type="text" class="form-control" aria-describedby="addon-name" name="txtMonthlySalary" [(ngModel)]="empl.monthlySalary" placeholder="Monthly Salary" data-ng-maxlength="50" required/>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Grade Level</span>
                                <select class="form-control" [(ngModel)]="empl.gradeLevel" name="cmbGradeLevel">
                                    <option *ngFor="let g of gradeLevels" [ngValue]="g.code">{{g.description}}</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Employment Status</span>
                                <select class="form-control" [(ngModel)]="empl.emplStatus" name="cmbEmplStatus">
                                    <option *ngFor="let e of emplStatuses" [ngValue]="e.code">{{e.description}}</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Payment Status</span>
                                <select class="form-control" [(ngModel)]="empl.paymentStatus" name="cmbPaymentStatus">
                                    <option *ngFor="let p of paymentStatuses" [ngValue]="p.code">{{p.description}}</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">PhilHealth Number</span>
                                <input type="text" class="form-control" aria-describedby="addon-name" name="txtPhilHealthNo" [(ngModel)]="empl.philHealthNo" placeholder="PhilHealth Number" data-ng-maxlength="50" required/>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Pagibig Number</span>
                                <input type="text" class="form-control" aria-describedby="addon-name" name="txtPagibigNo" [(ngModel)]="empl.PagibigNo" placeholder="Pagibig Number" data-ng-maxlength="50" required/>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Date Permanent</span>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="addon-name">Salary Rate Type</span>
                                <select class="form-control" [(ngModel)]="empl.salaryRateType" name="cmbSalaryRateType">
                                    <option *ngFor="let s of salaryRateTypes" [ngValue]="s.code">{{s.description}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
      </split-area>
  </split>
  </div>  
</div>


